body {
    background: #1f1a25;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

#main {
    color: #ffffff;
    text-align: center;
}

#stage {
    font-size: 5em;
}

#timer {
    font-size: 10em;
}
